<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
     <link rel="stylesheet" th:href="@{/css/style.css}"> 
</head>
<body>
    <div class="form-container">
        <p class="title">Reset Password</p>
        <form class="form" method="post" id="resetPasswordForm" th:action="@{/reset-password}">
            <input
                type="email"
                class="input"
                id="resetUserEmail"
                name="reset_user_email"
                placeholder="Email"
                required
                disabled
                style="background-color: lightgray; color: black;"
                autocomplete="off"
                th:value="${userEmail}" 
            />
            <input
                type="password"
                class="input"
                id="newPassword"
                name="new_password"
                placeholder="New Password"
                required
                autocomplete="off"
            />
            <input
                type="password"
                class="input"
                id="confirmPassword"
                name="confirm_password"
                placeholder="Confirm Password"
                required
                autocomplete="off"
            />
            <button class="btn" type="submit" id="resetPasswordButton">
                Reset Password
            </button>
        </form>
    </div>
    <script th:src="@{/javascript/resetPassword.js}"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const email = urlParams.get('email');

        // Set the email value in the input field
        if (email) {
            const emailInput = document.getElementById('resetUserEmail');
            emailInput.value = decodeURIComponent(email);
        }
    </script>
    
</body>
</html>
